@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lora:wght@400;600&display=swap');

:root {
  --primary-color: #2c2c2c; /* Gris oscuro casi negro */
  --secondary-color: #d4af37; /* Amarillo dorado */
  --text-color: #f0f0f0; /* Gris claro */
  --background-color: #4a4a4a; /* Gris medio */
  --light-gray: #8a8a8a;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    background-color: var(--primary-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
  font-weight: 600;
  color: var(--secondary-color);
}

h2 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b89b2e; /* Un dorado más oscuro para el hover */
}

p {
    margin-top: 20px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
